<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GetDetsisConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <GetDetsisConsole.Properties.Settings>
            <setting name="GetDetsisConsole_DetsisSrv_Integration" serializeAs="String">
                <value>http://localhost/DetsisTest/integration.asmx</value>
            </setting>
            <setting name="GetDetsisConsole_kaysis_DETSISServis" serializeAs="String">
                <value>http://bbws.kaysis.gov.tr/DETSISServis.asmx</value>
            </setting>
        </GetDetsisConsole.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <add key="InstanceName" value="PRODUCTION" />
    <add key="KurumID" value="80787465" />
    <add key="KurumSifre" value="yqIN8QM*9qlR" />
    <add key="LogPath" value="c:\detsisLog\" />
    <add key="TableName" value="DTVTP" />
    <add key="Tarih" value="01.01.2020" />
    <add key="ConnectionString" value="" />
    <add key="Provider" value="" />
    <add key="ServiceUrl" value="http://localhost/DetsisTest/integration.asmx" />
  </appSettings>
</configuration>