<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IntegrationSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="IntegrationSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://10.0.1.44/DetsisIntegration/integration.asmx"
                binding="basicHttpBinding" bindingConfiguration="IntegrationSoap"
                contract="ATSO.IntegrationSoap" name="IntegrationSoap" />
        </client>
    </system.serviceModel>
</configuration>